<div class="rectangulo">
    <img src="{{urlfotofondo}}" width="100%" height="100%">
    <div class='text-block'>
        <h1>{{title}}</h1>
    </div>
</div>

<div class="cuerpo">

    <div class="busqueda">
        <br>
        <center>
            <br>
            <a href="">a</a>
            <a href="">b</a>
            <a href="">c</a>
            <a href="">d</a>
            <a href="">e</a>
            <a href="">f</a>
            <a href="">g</a>
            <a href="">h</a>
            <a href="">i</a>
            <a href="">j</a>
            <a href="">k</a>
            <a href="">l</a>
            <a href="">m</a>
            <a href="">n</a>
            <a href="">o</a>
            <a href="">p</a>
            <a href="">q</a>
            <a href="">r</a>
            <a href="">s</a>
            <a href="">t</a>
            <a href="">u</a>
            <a href="">v</a>
            <a href="">w</a>
            <a href="">x</a>
            <a href="">y</a>
            <a href="">z</a>

        </center>
    </div>
    <div>
        <br>
        <br>
    </div>
    <div class="perfiles">
        <center>
            <table>
                <tr>
                    <td>
                        <img class='imagen' src="img/Estefania Suarez.jpg" />
                        <center>
                            <a href="#">Estefania Suarez</a>
                        </center>
                    </td>
                    <td>
                        <img class='imagen' src="img/Alejandra Castillo.jpg" />
                        <center>
                            <a href="#">Alejandra Castillo</a>
                        </center>
                    </td>
                    <td>
                        <img class='imagen' src="img/Alverto Calderon.jpg" />
                        <center>
                            <a href="#">Alverto Calderon</a>
                        </center>
                    </td>
                    <td>
                        <img class='imagen' src="img/Angel Penafiel.PNG" />
                        <center>
                            <a href="#">Angel Penafiel</a>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class='imagen' src="img/Elisabet Mora.jpg" />
                        <center>
                            <a href="#">Elisabet Mora</a>
                        </center>
                    </td>
                    <td>
                        <img class='imagen' src="img/Jordy Estevez.jpg" />
                        <center>
                            <a href="#">Jordy Estevez</a>
                        </center>
                    </td>
                    <td>
                        <img class='imagen' src="img/Juan Cazar.jpg" />
                        <center>
                            <a href="#">Juan Cazar</a>
                        </center>
                    </td>
                    <td>
                        <img class='imagen' src="img/Juan Espinoza.jpg" />
                        <center>
                            <a href="#">Juan Espinoza</a>
                        </center>
                        <center></center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class='imagen' src="img/Juan Sus.PNG" />
                        <center>
                            <a href="#">Juan Sus</a>
                        </center>
                    </td>
                    <td>
                        <img class='imagen' src="img/Paola Jaramillo.PNG" />
                        <center>
                            <a href="#">Paola Jaramillo</a>
                        </center>
                    </td>
                    <td>
                        <img class='imagen' src="img/Pedro Atthy.jpg" />
                        <center>
                            <a href="#">Pedro Atthy</a>
                        </center>
                    </td>
                    <td>
                        <img class='imagen' src="img/Steven cevallos.jpg" />
                        <center>
                            <a href="#">Steven Cevallos</a>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class='imagen' src="img/Elisabet Mora.jpg" />
                        <center>
                            <a href="#">Elisabet Mora</a>
                        </center>
                    </td>
                    <td>
                        <img class='imagen' src="img/Jordy Estevez.jpg" />
                        <center>
                            <a href="#">Jordy Estevez</a>
                        </center>
                    </td>
                    <td>
                        <img class='imagen' src="img/Juan Cazar.jpg" />
                        <center>
                            <a href="#">Juan Cazar</a>
                        </center>
                    </td>
                    <td>
                        <img class='imagen' src="img/Juan Espinoza.jpg" />
                        <center>
                            <a href="#">Juan Espinoza</a>
                        </center>
                    </td>
                </tr>

            </table>
        </center>

    </div>

</div>