<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS -->
    <link href="stylesheets/CSS.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Fuentes Lato para headers y roboto para body -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
</head>

<body>
    <!--  *******************  Navbar  *******************  -->
    <nav class="navbar fixed-top navbar-inverse">
        <!-- *******************  Hamburgesa colapsable *******************  -->
        <a href="javascript:void(0)" onclick="openNav()">
            <i class='fa fa-bars fa-lg icon'></i>
        </a>
        <!-- *******************  Navbar brand *******************  -->
        <a class="navbar-reveal navbar-brand" href="#"><img class="py-2 pr-2" src="img/LogoF593-white.png" style="height: 50px;"></a>
        <!-- *******************  Colapsable *******************  -->
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class='closebtn' onclick="closeNav()">
                <img class="py-2 pr-2" src="img/LogoF593-white.png" style="height: 50px;">
            </a>
            <a href="categorias">Categorias</a>
            <a href="fotografos">Fotografos</a>
            <a href="perfil">Perfiles</a>
        </div>
        <!-- *******************  Fin del contenido colapsable *******************  -->
    </nav>
    <!-- *******************  Fin del Navbar  *******************  -->
    {{{body}}}
    <!-- *******************  Footer  *******************  -->
    <section>
        <footer class="bg-light">
            <div class="footer-copyright text-center py-3">© 2018 Copyright:
                <a href="#" class="text-warning"> ElDreamTeam.</a>
            </div>
        </footer>
    </section>
    <!-- *******************  Fin de footer  *******************  -->


    <!-- Bootstrap core JavaScript -->
    <script src="jquery/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="scripts/sidebarToggle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>
    <script type="text/javascript">
        $(document).scroll(function () {
            var y = $(this).scrollTop();
            if (y > 650) {
                $('.navbar-reveal').fadeIn();
            } else {
                $('.navbar-reveal').fadeOut();
            }
        });
    </script>
    <script>
        $(document).ready(function(){
            $('#carouselExampleIndicators').find('.carousel-item').first().addClass('active');
        })
    </script>
</body>

</html>